.section-video-bg {
    overflow: hidden;
    object-fit: fill;
    z-index: -100;
}

.section-video {
    width: 100%;
    height: 100%;
    z-index: -100;

    source {
        z-index: -100;
    }
}

.yt-img-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -101;
    /*top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    background-position: center; 
    background-size: 100% auto;

    @media (max-width: $width-bootstrap-small) {
        z-index: -99;
    }
}

.section-header {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    overflow: hidden;
}

.section-header-text {
    height: 100%;
    width: 350px;
    max-width: 100%;
    z-index: 100;
    position: absolute;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;

    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;

    padding-bottom: 25px;

    @media (max-width: $width-medium) {
        font-size: 40px;
    }

    @media (max-width: $width-small) {
        font-size: 32px;
    }

}

#Sennett-Williams {
    .section-header-text {
        width: 100%;

        @media (max-width: 375px) {
            font-size: 28px;
        }
    }
}

#Eugenio-Gutierrez {

    .section-header-text {
        padding-right: 50%;
        width: 100%;
        align-items: center;
        padding-left: 25px;

        @media (min-width: $width-medium) {
            padding-right: 55%;
            width: 100%;
        }

        @media (min-width: $width-large) {
            /*width: 40%;
            padding-left: 50px;*/
            padding-right: 60%;
            width: 100%;
            padding-left: 50px;
        }

        @media (min-width: $width-xtra-large) {
            /*width: 37%;
            padding-left: 120px;*/
            padding-right: 63%;
            width: 100%;
            padding-left: 120px;
        }

        @media (max-width: $width-bootstrap-small) {
            font-size: 7vw;
        }
    }
}

#Eugenio-Gutierrez.section-header {
    /*display: block;*/
    /*justify-content: flex-start;*/

    /*.grey-section-bg {
        margin-left: -15em;
    }*/
}

#Erick-Morales {
    .section-header-text {
        width: 40%;
        flex-direction: row;
        align-items: center;
        margin-left: 25%;
        padding-right: 20px;

        @media (max-width: $width-medium) {
            width: 50%;
        }

        @media (max-width: $width-small) {
            width: 40%;
        }

        @media (max-width: $width-bootstrap-small) {
            width: 50%;
            font-size: 7vw;
        }

        @media (max-width: 375px) {
            width: 50%;
        }
    }
}

.grey-section-bg {
    position: absolute;
    height: 100%;
    min-width: 100%;
    z-index: 1;

    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
}
